/* src/Components/Notification/Notification.css */

.notification-container {
    position: fixed;
    top: 80px; /* Below the navbar */
    right: 20px;
    z-index: 1000;
    width: 300px;
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close-btn:hover {
    color: #000;
}

.appointment-card_content p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.p-bold {
    font-size: 1.1rem;
    color: #007bff; /* Primary color */
}